@charset "UTF-8";

body.modal-open {
	
	
	overflow: visible !important;
}
.w3-content 
{
	max-width: none!important;
}

.w3-content.w3-section {
	
		margin-top: 0px!important;
	margin-bottom: 0px!important;
}

#bannerimg {
	
	height:530px;
	
}
.loginTable 
{
	
	text-align: center;
}
#loginBut
{
	
	text-align:center;
	background-color:black;
	border-radius: 5px;
	border-color:#ddd;
	height:26px;
	font-weight: 200px;
	border-width:1px;
	margin-top:1px;
}

#registerBut {
	text-align:center;
	background-color:black;
	border-radius: 5px;
	border-color:#ddd;
	height:26px;
	font-weight: 200px;
	border-width:1px;
	margin-top:1px;
	margin-left:8px;
}
	
#registerBut p {
	
	color: #e5e5e5;
}


#loginBut p
{
	color: #e5e5e5;

}

#loginBut:hover 
{
	
	background-color:#555;
	
}

#registerBut:hover {
	background-color:#555;
	
}
#login {

	float:left;
}

.containerLogin {
	
	text-align:center;
}

.wrapperLogout {
	float:right;
	text-align:center;
	width:280px;
	margin-top:-17px;
}

.loginSpace {
	
	margin-top:12px;
	margin-right:10px;
}

.wrapperLogin {
	
}

#createPid {
	
	display:inline-block;
	margin-left:128px;
	margin-right:8px;
}

#logoutBut
{
	float: right;
	text-align:center;
	background-color:black;
	border-radius: 5px;
	border-color:#ddd;
	height:26px;
	font-weight: 200px;
	border-width:1px;
	color:#e5e5e5;
	margin-top:-3.5px;
}

#logoutBut:hover {

background-color:#555;

}
#pageBut {
	float: right;
	margin-top:-18px;
	margin-right:5px;
	text-align:center;
	background-color:black;
	border-radius: 5px;
	border-color:#ddd;
	height:26px;
	font-weight: 200px;
	border-width:1px;
	color:#e5e5e5
}

#pageBut:hover {

	background-color:#555;
}

.createWrapper {
	
	width:465px;
}


#createP {
	
	display:inline-block;
	text-align:right;
	width: 100px;
	margin-right:10px;
	
}
#dateBut {
	
	height: 24px;
		
}

.navbar-brand p {
	
	color:#ddd;
	margin-top:-1px;
}

.navbar-brand p:hover {
	color:white;
}
#button2 {
	
	
}

#button3 {
	
	
}

#idcheck{

	
}
.createTable {
	
	text-align:center;
	margin-top:10px;
}

.shot-subnav {
    width: 100vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.shot-subnav {
    background: #fff;
    padding: 20px 30px;
    font-size: 14px;
    position: relative;
}

.pop2 .modal-dialog2 {
	
	width: 790px;
}

